# ==================================================================
# FILE     .gitignore (for dwmstatus repository))
# MACHINE  all
# INFO     -
#
# DATE     02.07.2017
# OWNER    Bischofberger
# ==================================================================

# git shall ignore the following
old/
*.swp
